.skills-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  margin-top: 60px;
  text-align: center;
  position: relative;
}

.skills-marquee {
  display: inline-block;
  animation: scroll 30s linear infinite;
}

.skills-marquee.paused {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skills-category .skills-card {
  display: inline-block;
  margin: 10px;
  width: 100px;
  height: 120px; /* Ensure the card is square */
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .2); 
  border-radius: 8px;
  text-align: center;
  overflow: hidden; /* Ensure content doesn't overflow */
  vertical-align: top; /* Align the cards vertically at the top */
  transition: 0.5s all;
}

.skills-card img {
  width: 80%;
  height: 60%; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto;
}

.skills-card .skills-card-text {
  font-size: 15px;
  color: black;
  text-align: center; /* Center-align the text */
  white-space: normal; /* Ensure text wraps */
  margin-top: 10px;
}

.skills-card:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 26px rgba(134, 162, 223, 0.2);
}
