.about {
  min-height: 100vh;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.about h1 {
text-align: center;
margin-bottom: 20px;
}

.about-container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

.text {
flex: 1;
margin-left: 20px;
text-align: justify;
border: 2px solid #11235A;
border-radius: 10px;
}

.text p {
font-size: 16px;
line-height: 2;
}

.gif_image {
min-width: 200px;
min-height: 200px;
width: 400px;
height: 400px;
border-radius: 30%;
object-fit: cover;
position: relative;
z-index: 1;
}