.app {
  transition: background-color 0.5s ease;
}

.app.light {
  background: linear-gradient(#C6CF9B, #596FB7, #11235A);
}

.app.dark {
  background: linear-gradient(#1A1A2E, #16213E, #0F3460);
}

.navbar.light {
  background: linear-gradient(#9B86BD, #7776B3, #5A639C);
}

.navbar.dark {
  background: linear-gradient(#1A1A2E, #16213E, #0F3460);
}

.navbar-left {
  display: flex;
  align-items: center;
}
